---
import Layout from '../layouts/Layout.astro'
import Jumbotron from '../components/Jumbotron.astro'
import webs from '../data/weby.json'
---
<Layout>
  <Jumbotron title="Webs from JerryLabs" class="jumbotron__matrix" image="matrix" />
  <section>
    <div class="container cards">
      {webs.map((web, i) => (
        <a
          class="card card--vertical card--third card--centered"
          data-attribute="SRL" href={web.image} title={web.title}
          data-fslightbox="webs-lightbox"
        >
          <img class="card__image" src={web.image} alt={`${web.title} (${web.year})`} />
          <div class="card__content">
            <h3 class="card__title">{web.title}</h3>
            {/* <div class="card__description">{web.year}</div> */}
          </div>
        </a>
      ))}
    </div>
  </section>
  <section>
    <p class="center">
      Do you need to build or launch a website? Do not hesitate to <a href="/contact">contact us</a>!
    </p>
  </section>
</Layout>

<script src="../scripts/fslightbox.js"></script>